src/test/munit/mavenex-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <munit:config name="munit" doc:name="MUnit configuration"/>
    <spring:beans>
        <spring:import resource="classpath:mavenex.xml"/>
    </spring:beans>
    <munit:test name="mavenex-test-suite-mavenexFlowTest" description="Test">
        <flow-ref name="mavenexFlow" doc:name="Flow-ref to mavenexFlow"/>
    </munit:test>
    <flow name="mavenex-test-suiteFlow">
        <munit:assert-payload-equals message="test failed" expectedValue="#[payload]" doc:name="Assert Payload"/>
    </flow>
</mule>
